body {
    font-family: "Helvetica Neue";
    font-size: 14pt;
    text-decoration: none;
}

.font {
    font-family: "Helvetica Neue";
}

.bg-yellow {
    background-color: #FFC017;
}

.border-bottom-dark {
    border-bottom: 2px solid black;
}

.aside-buttons>li {
    margin-bottom: 10px;
}

.articlerbaslik {
    font-weight: 700;
    font-size: 20pt;
    line-height: 24px;
    color: #242424;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.trendingbaslik {
    font-weight: 700;
    font-size: 14pt;
    line-height: 15px;
    color: #242424;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}